@using Homework2;
@model IDictionary<string, Component>

@{
    ViewBag.Title = "Дом";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Дом</title>
    <style>
        .component-div {
            border: 2px solid gray;
            float: left;
            margin: 3px;
            padding: 3px;
            background-color: lightgray;
        }

        .element-div {
            border: 1px solid black;
            float: left;
            margin: 2px;
            padding: 2px;
            text-align: center;
            border-radius: 5px;
            min-width: 50px;
            display: inline-block;
            text-decoration: none;
            color: black;
            background-color: #DDD;
        }

        .delete-div {
            border: 2px solid red;
            float: right;
            margin: 3px;
            padding: 3px;
            font-weight: bold;
            text-align: center;
            border-radius: 5px;
            min-width: 50px;
            display: inline-block;
            text-decoration: none;
            color: black;
            background-color: #DDD;
        }
    </style>

</head>

<body>

    <br />

    @foreach (var item in Model)
    {
        <div class="component-div">
            @item.Value.Info()<br />

            @if (item.Value is IPowerable)
            {
                <a href="/Component/On?name=@item.Key" class="element-div" style="background-color:lightgreen">Включить</a>
                <a href="/Component/Off?name=@item.Key" class="element-div" style="background-color:pink">Погасить</a>
            }

            @if (item.Value is IOpenable)
            {
                <a href="~/Component/Open?name=@item.Key" class="element-div">Открыть</a>
                <a href="~/Component/Close?name=@item.Key" class="element-div">Закрыть</a>
            }

            @if (item.Value is TV)
            {
                <a href="~/Component/PrevChannel?name=@item.Key" class="element-div">Пред.канал</a>
                <a href="~/Component/NextChannel?name=@item.Key" class="element-div">След.канал</a>
            }

            @if (item.Value is MediaCenter || item.Value is Oven || item.Value is Fridge)
            {
                using (Html.BeginForm("Set", "Component"))
                {
                    <span class="element-div">
                        @Html.Hidden("name", @item.Key)

                        @if (item.Value is MediaCenter)
                        {
                            <span>Громкость:</span>

                        @Html.TextBox("valueBox", ((MediaCenter)item.Value).Volume, new { id = "id" + item.Key, size = "3" })
                            <label style="color:red">@ViewBag.NoInt</label>
                        <input type="submit" value="Установить громкость">
                        }
                        

                        @if (item.Value is Oven)
                        {
                            <span>Температура:</span>

                            @Html.TextBox("valueBox", ((Oven)item.Value).Temperature, new { id = "id" + item.Key, size = "3" })
                                <label style="color:red">@ViewBag.NoInt</label>
                            <input type="submit" value="Установить температуру">
                        }


                        @if (item.Value is Fridge)
                        {
                            <span>Режим:</span>

                            @Html.DropDownList("valueBox", (IEnumerable<SelectListItem>)ViewBag.modesList)
                            
                            <input type="submit" value="Установить режим">
                        }

                    </span>
                }

            }         




                <br />
                <a href="/Component/Delete?name=@item.Key" class="delete-div">Удалить</a><br />

            </div>
            @ViewBag.Remove

    }

</body>
</html>